footer {
  .footer-inner {
    background: url("../../assets/images/page-1/bitmap_2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10rem;
    text-align: center;
  }
}
