@mixin flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  @content;
}
